<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">公司发展及进程</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000年以前</h4>
                                    <h4 class="subheading">专做机床配套中频变频器，最高频率3000Hz，电机转速18万转，属于专业级设备，市场比较单一，主要用于工艺控制及产品质量控制</h4>
                                </div>
<!--                                 <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Designed and developed websites and applications for clients in Vancouver and K/W
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Worked closely with business owners to develop strategy
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Leveraged illustrations, photography and videos for maximum impact
                                                </p>
                                                </li>
                                        </ul>
                                </div> -->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000年-2010年</h4>
                                    <h4 class="subheading">扩展民用400Hz以下变频器生产及应用（普通电机均使用50-60Hz）；拓展变频设备在中央空调、风机、水泵等诸多民用设备及场合的节能应用</h4>
                                </div>
<!--                                 <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Object-oriented programming patterns and techniques in Java, C#, Ruby
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 Web-application development in ASP.NET, Ruby-on-Rails
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Android and iOS development
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Front-end development and design
                                                </p>
                                            </li>
                                        </ul>
                                </div> -->
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010年-2012年</h4>
                                    <h4 class="subheading">开发机房群控系统，结合BA技术、远程控制技术及变频节能技术和经验，实现无人值守机房及高效节能机房管理</h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012年-2020年</h4>
                                    <h4 class="subheading">涉足暖通行业，结合多年技术积累及服务高星级酒店的经验，开发热泵热水高效节能系统，并成功推广至诸多五星级酒店，获得极为可观的节能效益</h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020年以后</h4>
                                    <h4 class="subheading">疫情期间苦练内功，结合物联网和技术积累，开发出物联网机房控制系统，电脑联网、手机联网</h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
