<style>
.custom-image {
    width: 150px;  /* 设置图片的宽度，例如200像素 */
    height: 80px; /* 设置图片的高度，例如200像素 */
    object-fit: cover; /* 保持图片的比例，但填充整个容器 */
}
</style>

<!-- Examples Section -->
    <section id="examples">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">经典案例</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <img src="img/example1.png" class="custom-image" alt="example1">
                    </span>
                    <h4 class="service-heading">上海外滩华尔道夫酒店</h4>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/airconditioner.jpg" alt="">
                    </span>
                    <h4 class="service-heading">中央空调节能</h4>
                    <p class="text-muted">机房设备升级改造</p>
                    <p class="text-muted">合理优化空调机房设备控制</p>
                    <p class="text-muted">合理优化冷量、温度、湿度控制</p>
                    <p class="text-muted">客区舒适度及末端设备能耗控制</p>
                </div>
            </div>
    </section>                

            
            
