<style>
.custom-image {
    width: 500px;  /* 设置图片的宽度，例如200像素 */
    height: 200px; /* 设置图片的高度，例如200像素 */
    object-fit: cover; /* 保持图片的比例，但填充整个容器 */
    display: block; /* 将图片设置为块级元素 */
    margin: 0 auto; /* 将图片居中 */
}

.center-container {
    text-align: center; /* 使容器内的内容居中 */
}
</style>

<!-- Examples Section -->
    <section id="examples">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">经典案例</h2>
                </div>
            </div>
        
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="center-container">
                    <h4 class="centered-text">上海外滩华尔道夫酒店</h4>
                    <img src="img/example1.png" class="custom-image" alt="example1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="center-container">
                    <h4 class="centered-text">上海复旦皇冠假日酒店</h4>
                    <img src="img/example2.jpg" class="custom-image" alt="example2">
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6">
                    <div class="center-container">
                    <h4 class="centered-text">杭州国际会议中心洲际酒店</h4>
                    <img src="img/example3.png" class="custom-image" alt="example3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="center-container">
                    <h4 class="centered-text">杭州JW万豪酒店</h4>
                    <img src="img/example2.jpg" class="custom-image" alt="example4">
                    </div>
                </div>
            </div>
    </section>                

            
            
