<!-- Services Section -->
    <section id="skills">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我们最擅长的事 20余年积累创新</h2>
                    <h3 class="section-subheading text-muted">3+ Years of Experience doing:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">热泵热回收节能</h4>
                    <p class="text-muted">空气源、水源、地源热泵热回收</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">中央空调节能</h4>
                    <p class="text-muted">高效群控、末端变频节能</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">排烟排风节能</h4>
                    <p class="text-muted">送排风机、厨房排油烟风机智能变频</p>
                </div>
            </div>
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">业务范围</h2>
                    <h3 class="section-subheading text-muted">20余年积累创新</h3>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">大型厨房排油烟风机节能</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">空气源热泵系统设计及应用</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">中央空调系统节能</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">基于物联网技术的控制平台和智能化操作系统</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">其他</h4>
                    <p class="text-muted"></p>
                </div>
                
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MVC Architecture & Design Patterns</h4>
                    <p class="text-muted">Ruby on Rails, ExpressJS, ASP.NET</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Source Code Management & Distributed Revision Control</h4>
                    <p class="text-muted">Git</p>
                </div>
            </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learning</h2>
                    <h3 class="section-subheading text-muted">Things I am currently hacking away at:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">Android, iOS and PhoneGap</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Testing</h4>
                    <p class="text-muted">RSpec and Jasmine</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-end Javascript Frameworks</h4>
                    <p class="text-muted">Angular.js</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Deployment</h4>
                    <p class="text-muted">Heroku</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffeescript</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
    </section>
