<!-- Services Section -->
    <section id="skills">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">核心业务</h2>
                    <h3 class="section-subheading text-muted">20余年积累创新</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">热泵热回收节能</h4>
                    <p class="text-muted">空气源、水源、地源热泵热回收</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">中央空调节能</h4>
                    <p class="text-muted">高效群控、末端变频节能</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">排烟排风节能</h4>
                    <p class="text-muted">送排风机、厨房排油烟风机智能变频</p>
                </div>
            </div>
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">业务范围</h2>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <h4 class="service-heading">大型厨房排油烟风机节能</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">空气源热泵系统设计及应用</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">中央空调系统节能</h4>
                    <p class="text-muted"></p>
                </div>
                
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <h4 class="service-heading">基于物联网技术的控制平台和智能化操作系统</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">其他</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">合作模式</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h4 class="service-heading">厂家直销</h4>
                    <p class="text-muted">直接面对终端用户销售本公司设计生产的各类节能设备、电气设备、自动化控制设备以及其他配套产品。</p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">EMC模式</h4>
                    <p class="text-muted">响应国家号召，大力倡导节能技术推广应用，推行合同能源管理（EMC）运行模式。
                    甲方投入场地成本、机会成本和信任，乙方负责设计、投资、施工及运行中的维护，双方分享节能收益。</p>
                </div>
                </div>

<!-- new section -->
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">过往案例</h2>
<!--                     <h3 class="section-subheading text-muted">20余年积累创新</h3> -->
                </div>
            </div>
            <div class="row text-center  ">
                <h4 class="service-heading">洲际酒店集团</h4>
                <div class="col-md-4">
                    <p class="text-muted">杭州国际会议中心洲际酒店</p>
                    <p class="text-muted">杭州萧山众安假日酒店</p>
                    <p class="text-muted">杭州世外桃源皇冠假日酒店</p>
                    <p class="text-muted">苏州洲际大酒店</p>
                    <p class="text-muted">苏州中茵皇冠假日酒店</p>
                    <p class="text-muted">宁波洲际大酒店</p>
                    <p class="text-muted">宁波凯州皇冠假日酒店</p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">上海瑞金洲际酒店</p>
                    <p class="text-muted">上海锦江汤臣洲际大酒店</p>
                    <p class="text-muted">上海复旦皇冠假日酒店</p>
                    <p class="text-muted">上海滴水湖皇冠假日酒店</p>
                    <p class="text-muted">上海世纪皇冠假日酒店</p>
                    <p class="text-muted">上海安亭颖奕皇冠假日酒店</p>
                    <p class="text-muted">上海外滩英迪格酒店</p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">无锡君来洲际大酒店</p>
                    <p class="text-muted">无锡太湖皇冠假日酒店</p>
                    <p class="text-muted">南京侨鸿皇冠假日酒店</p>
                    <p class="text-muted">绍兴世茂皇冠假日酒店</p>
                    <p class="text-muted">义乌博览皇冠假日酒店</p>
                    <p class="text-muted">常州武进假日酒店</p>
                    <p class="text-muted">昆山皇冠假日酒店</p>
                </div>
            </div>
                
            <div class="row text-center  ">
                <div class="col-md-4">
                    <h4 class="service-heading">希尔顿酒店集团</h4>
                    <p class="text-muted">上海外滩华尔道夫酒店</p>
                    <p class="text-muted">上海虹桥祥源希尔顿酒店</p>
                    <p class="text-muted">嘉兴希尔顿逸林酒店</p>
                    <p class="text-muted">上海静安希尔顿酒店</p>
                    <p class="text-muted">宁波东钱湖华茂希尔顿酒店</p>
                    <p class="text-muted">青岛即发希尔顿酒店</p>
                    <p class="text-muted">云南澄江希尔顿酒店</p>
                    <p class="text-muted">舟山希尔顿酒店</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">万豪酒店集团</h4>
                    <p class="text-muted">杭州JW万豪酒店</p>
                    <p class="text-muted">杭州钱江新城万豪酒店</p>
                    <p class="text-muted">杭州尊蓝钱江豪华精选酒店</p>
                    <p class="text-muted">杭州西溪喜来登酒店</p>
                    <p class="text-muted">上海静安瑞吉酒店</p>
                    <p class="text-muted">上海新发展亚太JW万豪酒店</p>
                    <p class="text-muted">上海绿地万豪酒店</p>
                    <p class="text-muted">上海豫园万丽酒店</p>
                    <p class="text-muted">上海由由喜来登酒店</p>
                    <p class="text-muted">安吉JW万豪酒店</p>
                </div>
                
                <div class="col-md-4">
                    <h4 class="service-heading">国宾馆</h4>
                    <p class="text-muted">上海虹桥迎宾馆</p>
                    <p class="text-muted">上海兴国宾馆</p>
                    <p class="text-muted">杭州西湖国宾馆</p>
                    <p class="text-muted">浙江西子国宾馆</p>
                    <p class="text-muted">杭州西湖柳莺里酒店</p>
                    <p class="text-muted">杭州浙江宾馆</p>
                </div>
            </div>

            <div class="row text-center  ">
                <h4 class="service-heading">品牌高档酒店</h4>
                <div class="col-md-4">
                    <p class="text-muted">上海和平饭店</p>
                    <p class="text-muted">上海四季酒店</p>
                    <p class="text-muted">上海国际会议中心</p>
                    <p class="text-muted">上海中油阳光大酒店</p>
                    <p class="text-muted">上海小南国花园酒店</p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">杭州柏悦酒店</p>
                    <p class="text-muted">杭州黄龙饭店</p>
                    <p class="text-muted">杭州宋城第一世界大酒店</p>
                    <p class="text-muted">杭州金马饭店</p>
                    <p class="text-muted">杭州西溪宾馆</p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">杭州歌德大酒店</p>
                    <p class="text-muted">杭州华辰国际饭店</p>
                    <p class="text-muted">嘉兴沙龙国际宾馆</p>
                    <p class="text-muted">宁波博瑞特大酒店</p>
                </div>
            </div>

            <div class="row text-center  ">
                <div class="col-md-4">
                    <h4 class="service-heading">开元集团</h4>
                    <p class="text-muted">杭州萧山开元名都大酒店</p>
                    <p class="text-muted">德清开元森泊度假酒店</p>
                    <p class="text-muted">千岛湖开元度假村</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">雷迪森酒店集团</h4>
                    <p class="text-muted">上海雷迪森证大丽笙酒店</p>
                    <p class="text-muted">杭州国大雷迪森酒店</p>
                    <p class="text-muted">杭州西溪雷迪森酒店</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">悦榕庄酒店集团</h4>
                    <p class="text-muted">杭州西溪悦榕庄酒店</p>
                    <p class="text-muted">安吉悦榕庄酒店</p>
                </div>
            </div>

            <div class="row text-center  ">
                 <div class="col-md-4">
                    <h4 class="service-heading">华美达酒店集团</h4>
                    <p class="text-muted">杭州英冠香玉酒店</p>
                    <p class="text-muted">杭州英冠华美达酒店</p>
                    <p class="text-muted">杭州萧山华美达酒店</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">长隆集团</h4>
                    <p class="text-muted">珠海长隆横琴湾酒店</p>
                    <p class="text-muted">珠海长隆马戏酒店</p>
                </div>
                
                <div class="col-md-4">
                    <h4 class="service-heading">政府机关</h4>
                    <p class="text-muted">上海市政府大厦 人民大道200号</p>
                    <p class="text-muted">上海市政府大厦 大沽路100号</p>
                    <p class="text-muted">浙江省政府大楼</p>
                    <p class="text-muted">浙江省检察院大楼</p>
                </div>
            </div>

            <div class="row text-center  ">
                <h4 class="service-heading">医疗行业</h4>
                 <div class="col-md-4">
                    <p class="text-muted">上海曙光医院浦西医院</p>
                    <p class="text-muted">上海曙光医院浦东医院</p>
                    <p class="text-muted">上海嘉定中心医院</p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">上海儿童医学中心</p>
                    <p class="text-muted">上海浦南医院</p>
                    <p class="text-muted">上海和平眼科医院</p>
                </div>
                
                <div class="col-md-4">
                    <p class="text-muted">上海市精神卫生中心</p>
                    <p class="text-muted">上海瑞金医院</p>
                    <p class="text-muted">无锡妇幼保健医院</p>
                </div>
            </div>

            
                
<!--                 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-end Javascript Frameworks</h4>
                    <p class="text-muted">Angular.js</p>
                </div> 
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Deployment</h4>
                    <p class="text-muted">Heroku</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffeescript</h4>
                    <p class="text-muted"></p>
                </div> -->
    </section>
