<!-- Services Section -->
    <section id="skills">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">核心业务</h2>
                    <h3 class="section-subheading text-muted">20余年积累创新</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
<!--                         <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="img/heat.jpg" alt="">
                    </span>
                    <h4 class="service-heading">供暖及热水系统节能</h4>
                    <p class="text-muted">制热设备升级改造</p>
                    <p class="text-muted">热水成本降低40%</p>
                    <p class="text-muted">供暖成本降低30%</p>
                    <p class="text-muted">过渡季节免费空调制冷</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
<!--                         <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="img/airconditioner.jpg" alt="">
                    </span>
                    <h4 class="service-heading">中央空调节能</h4>
                    <p class="text-muted">机房设备升级改造</p>
                    <p class="text-muted">合理优化空调机房设备控制</p>
                    <p class="text-muted">合理优化冷量、温度、湿度控制</p>
                    <p class="text-muted">客区舒适度及末端设备能耗控制</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
<!--                         <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i> -->
                        <img class="img-circle img-responsive" src="img/fan.jpg" alt="">
                    </span>
                    <h4 class="service-heading">厨房排烟设备节能</h4>
                    <p class="text-muted">排风量智能控制节能</p>
                    <p class="text-muted">排烟管道自动风阀改造节能</p>
                    <p class="text-muted">新风及空调送风智能控制</p>
                    <p class="text-muted">客区、宴会区等空调损耗节能</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">业务范围</h2>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <h4 class="service-heading">大型厨房排油烟风机节能</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">空气源热泵系统设计及应用</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">中央空调系统节能</h4>
                    <p class="text-muted"></p>
                </div>
                
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <h4 class="service-heading">基于物联网技术的控制平台和智能化操作系统</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">其他</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
      </section>                

    <section id="cooperate"> 
            <div class="bg-png">
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">合作模式</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h4 class="service-heading">厂家直销</h4>
                    <p class="text-muted">直接面对终端客户</p>
                    <p class="text-muted">销售本公司设计生产各类节能设备、电气设备、自动化控制设备</p>
                    <p class="text-muted">厂家提供节能设计及配套施工</p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">EMC模式</h4>
                    <p class="text-muted">响应国家号召，大力倡导节能技术推广应用，推行合同能源管理（EMC）运行模式</p>
                    <p class="text-muted">甲方投入场地成本、机会成本和信任</p>
                    <p class="text-muted">乙方负责设计、投资、施工及运行中的维护，双方分享节能收益</p>
                </div>
            </div>
            </div>
    </section>                
          

            
            

